<div class="nav-container bottom">
    <ul class="list-reset left clearfix align-middl btm-up">
      <li class="inline-block marginX-sm align-middle">
        <a class="link-primary" href="https://www.facebook.com/profile.php?id=100003271842966">facebook</a>
      </li>
      <li class="inline-block marginX-sm align-middle">
        <a class="link-primary" href="https://www.instagram.com/{{ site.social_username }}">Instagram</a>
      </li>
      <li class="inline-block marginX-sm align-middle">
        <a class="link-primary" href="https://www.behance.net/{{ site.behance_username }}">behance</a>
      </li>
      <li class="inline-block marginX-sm align-middle">
        <a class="link-primary" href="https://dribbble.com/{{ site.drb_username }}">dribbble</a>
      </li>
    </ul>
    <!-- <span class="right">
      &copy;
      <script>
        document.write(new Date().getFullYear());
      </script> -->
    </span>
  </div>
  