<header class="nav-container">
  <!-- {% unless page.homepage == true %} -->
  <div class="left align-middle navfont">
    <a class="align-middle" href="/">
      {{ site.title }}
    </a>
  </div>
  {% endunless %}
  <div class="right align-middle">
    <ul class="list-reset">
      <li class="inline-block">
        <a class="menu-rignt-sm" href="/wirte">Wirte</a>
        <a class="menu-rignt-sm" href="/side">Side</a>
        <a class="" href="/profile">Profile</a>
      </li>
    </ul>
  </div>
</header>
