<header class="paddingX paddingY clearfix">
  <!-- {% unless page.homepage == true %} -->
  <div class="left marginX align-middle">
    <a class="align-middle menufont" href="/">
      {{ site.title }}
    </a>
  </div>
  {% endunless %}
  <div class="right align-middle marginX">
    <ul class="list-reset">
      <li class="inline-block">
        <a class=" big mid marginX-sm " href="/wirte">Wirte</a>
        <a class=" big mid marginX-sm " href="/side">Side</a>
        <a class=" big mid " href="/profile">Profile</a>
      </li>
    </ul>
  </div>
</header>
