<header class="nav-container">
  <!-- {% unless page.homepage == true %} -->
  <div class="left align-middle flex-column">
    <a class="align-middle menufont " href="/"> UI/UX designers </a>
    <br />
    <a class="align-middle menufont" href="/">
      who love interaction
    </a>
  </div>
  {% endunless %}
  <div class="right align-middle marginY">
    <ul class="list-reset">
      <li class="inline-block">
        <a class=" big mid marginX-sm " href="/wirte">Wirte</a>
        <a class=" big mid marginX-sm " href="/side">Side</a>
        <a class=" big mid " href="/profile">Profile</a>
      </li>
    </ul>
  </div>
</header>
