<header class="paddingX paddingY clearfix">
  <!-- {% unless page.homepage == true %} -->
  <div class="left marginX align-middle">
    <a class="align-middle menufont" href="/">
      {{ site.title }}
    </a>
  </div>
  {% endunless %}
  <div class="right align-middle">
    <ul class="list-reset">
      <li class="inline-block align-middle marginX">
        <a class="align-middle big mid marginX-sm" href="/wirte">Wirte</a>
        <a class="align-middle big mid marginX-sm" href="/side">Side</a>
        <a class="align-middle big mid " href="/profile">Profile</a>
      </li>
    </ul>
  </div>
</header>
