<header class="paddingX paddingY clearfix">
  <!-- {% unless page.homepage == true %} -->
  <div class="left">
    <a class="align-middle" href="/">
      {{ site.title }}
    </a>
  </div>
  {% endunless %}
  <div class="right">
    <ul class="list-reset">
      <li class="inline-block">
        <a class="align-middle big mid " href="/wirte">Wirte</a>
        <a class="align-middle big mid " href="/side">Side</a>
        <a class="align-middle big mid " href="/profile">Profile</a>
      </li>
    </ul>
  </div>
</header>
