<header class="nav-container">
  <!-- {% unless page.homepage == true %} -->
  <div class="left align-middle navfont">
    <a class="align-middle " href="/">
      UI/UX designers <br />who love interaction
    </a>
  </div>
  {% endunless %}
  <div class="right align-middle marginY">
    <ul class="list-reset">
      <li class="inline-block">
        <a class="marginX-sm " href="/wirte">Wirte</a>
        <a class="marginX-sm " href="/side">Side</a>
        <a class="" href="/profile">Profile</a>
      </li>
    </ul>
  </div>
</header>
