<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="/assets/favicon.ico" />

  <title>Minhee</title>

  {% assign user_url = site.url | append: site.baseurl %} {% assign
  full_base_url = user_url | default: site.github.url %} <link rel="stylesheet"
  href="{{ "/assets/style.css" | prepend: full_base_url }}"> <link
  rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{
  "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-146804153-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-146804153-1");
  </script>

<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-XXXXXX':true});</script>
</head>
