<div class="container margin-tb-auto margin-lr-auto padding-tb-2">
  <div class="containe">
    <h1 class="font-dmst textcenter  contents-anim">Hello!</h1>
    <h1 class="font-dmst textcenter inline-block  contents-anim-b">I Like</h1>
    <div class="badge right inline-block margin-l-2 contents-anim-d"></div>
    <h1
      class="font-dmst textright margin-l-2 contents-anim-b indexhover-a indexhover-b"
    >
      all kinds of
    </h1>
    <h1 class="font-dmst textcenter contents-anim-c">Design.</h1>

    <div class="circle-area-a">
      <ul class="circle-a contents-anim-circle-a">
        <li></li>
      </ul>

      <div class="circle-area-b">
        <ul class="circle-b contents-anim-circle-b">
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
