
<div class="container margin-tb-auto margin-lr-auto padding-tb-2">
  <div class="containe">
    <h1 class="font-dmst textcenter  contents-anim">Hello!</h1>
    <h1 class="font-dmst textcenter inline-block  contents-anim-b">I Like <a class="indexhover">all kinds of</a> </h1><div class="badge inline-block margin-l-2 contents-anim-d"></div>
    <h1 class="font-dmst textcenter contents-anim-c">Design.</h1> 
  </div> 
</div>


<ul class="circleB">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

</div>
