<!-- <div class="area-main-warpper">
  <div class="main-warpper">
    <figure class="main-img-set" style="background-image: url(https://i.imgur.com/LQ1LRh8.gif);">
    </figure>
  </div>
</div> -->


<div class="container margin-tb-auto margin-lr-auto padding-tb-2">
  <div class="containe contents-anim">
    <h1 class="font-dmst textcenter">Hello!</h1>
    <h1 class="font-dmst textcenter inline-block">I Like <a class="indexhover">all kinds of</a> </h1><div class="badge inline-block margin-l-2"></div>
    <h1 class="font-dmst textcenter">Design.</h1> 
  </div> 
</div>

<div class="area-main-warpper">
  <div class="main-warpper">
    <figure class=""></figure>
  </div>
</div>