<head>
  <meta charset="uft-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge=" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="/assets/favicon.ico" />
  <link rel="stylesheet" href="{{ "/assets/style.css" | prepend: full_base_url
  }}">
  <!-- meta data : 문자, IE브라우저, 모바일 대응, 파비콘, scss -->

  <!-- Global site tag (gtag.js) - Google Analytics 시작 -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-146804153-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-146804153-1");
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics 여기까지 -->
</head>
