<!DOCTYPE html>

<div class="">
  <a class="block link-image" href="{{ post.url | prepend: site.baseurl }}">
    {% if post.thum_image %} {% include post_list_thum.html %} {% endif %}
  </a>
  <div class="margin-t-1">
    <p class="right sm-width-full project-date">
      {{ post.date | date: "%b %-d, %Y" }}
    </p>

    <a class="posttitle con-area-90">
      <a
        class="link-primary f-tit-3"
        title="{{ post.url | prepend: site.baseurl }}"
        href="{{ post.url | prepend: site.baseurl }}"
        >{{ post.title }}</a
      >
    </a>

    <p class="con-area-90">
      {{ post.content | strip_html | truncatewords:24 }}
    </p>
  </div>
</div>
