<div class="paddingX paddingY marginX marginY">
  <a class="" href="{{ post.url | prepend: site.baseurl }}">
    {% if post.thum_image %} {% include post_list_thum.html %} {% endif %}
  </a>

  <div class="pd-2 py-2">
    <h2 class="posttitle">
      <a
        class="link ctest"
        title="{{ post.url | prepend: site.baseurl }}"
        href="{{ post.url | prepend: site.baseurl }}"
        >{{ post.title }}</a
      >
    </h2>

    <p class="postdate p3 right">
      {{ post.date | date: "%b %-d, %Y" }}
    </p>

    <p class="ctest">
      {{ post.content | strip_html | truncatewords:24 }}
    </p>
  </div>
</div>
