<div class="">
  <a class="block" href="{{ post.url | prepend: site.baseurl }}">
    {% if post.thum_image %} {% include post_list_thum.html %} {% endif %}
  </a>
  <div class="">
    <p class="postdate">
      {{ post.date | date: "%b %-d, %Y" }}
    </p>

    <h2 class="posttitle conarea">
      <a
        class="link"
        title="{{ post.url | prepend: site.baseurl }}"
        href="{{ post.url | prepend: site.baseurl }}"
        >{{ post.title }}</a
      >
    </h2>

    <p class="conarea">
      {{ post.content | strip_html | truncatewords:24 }}
    </p>
  </div>
</div>
