* {
  box-sizing: border-box !important;
  margin: 0px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

// index 시작
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
