// --------------------------------------------------
// --------------------------------------------------
// 스타일 전부 리셋
* {
  box-sizing: border-box !important;
  margin: 0px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  // font-family: $header-font-family;
}

// --------------------------------------------------
// --------------------------------------------------
// index 시작
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.vh-set {
  height: 60vh;
  // min-height: 400px;
}
