* {
  box-sizing: border-box !important;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}
body {
}

a {
  text-decoration: none;
  color: inherit;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}
