@import "variables";

/* container */

.nav-container {
  max-width: $container-width-df;
  padding-left: $spacer-2;
  padding-right: $spacer-2;
}
.container {
  max-width: $container-width-df;
  padding-left: $spacer-2;
  padding-right: $spacer-2;
}
.container-record {
  max-width: $container-width-record;
  padding-left: $spacer-2;
  padding-right: $spacer-2;
}

/* Padding */

.padding-tb-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-tb-1 {
  padding-top: $spacer-1;
  padding-bottom: $spacer-1;
}

.padding-rl-1 {
  padding-left: $spacer-1;
  padding-right: $spacer-1;
}

.padding-tb-2 {
  padding-top: $spacer-2;
  padding-bottom: $spacer-2;
}

.padding-rl-2 {
  padding-left: $spacer-2;
  padding-right: $spacer-2;
}

.padding-tb-3 {
  padding-top: $spacer-3;
  padding-bottom: $spacer-3;
}

/* Margin */

.margin-tb-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.margin-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-t-1 {
  margin-top: $spacer-1;
}
.margin-r-1 {
  margin-right: $spacer-1;
}
.margin-l-1 {
  margin-left: $spacer-1;
}
.margin-b-1 {
  margin-bottom: $spacer-1;
}

.margin-t-2 {
  margin-top: $spacer-2;
}
.margin-r-2 {
  margin-right: $spacer-2;
}
.margin-l-2 {
  margin-left: $spacer-2;
}
.margin-b-2 {
  margin-bottom: $spacer-2;
}

.margin-t-3 {
  margin-top: $spacer-3;
}
.margin-r-3 {
  margin-right: $spacer-3;
}
.margin-l-3 {
  margin-left: $spacer-3;
}
.margin-b-3 {
  margin-bottom: $spacer-3;
}

// --------------------------------------------------
// --------------------------------------------------
// // *Header&Footer 기본 set*
.left {
  float: left;
}
.right {
  float: right;
}
.fixed {
  position: fixed;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.right-0 {
  right: 0;
}
.left-0 {
  left: 0;
}

.inline-block {
  display: inline-block !important;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.align-middle {
  vertical-align: middle;
}

// .conarea {
//   width: (9 / 12 * 100%);
// }
// .conarea-side {
//   width: (6 / 12 * 100%);
// }

// @media (max-width: 720px) {
//   .top-12px {
//     margin-top: 0px;
//   }
// }

// // --------------------------------------------------
// // --------------------------------------------------
//이미지 썸네일
.aspect-ratio {
  height: 0;
  position: relative;
}

.block {
  display: block !important;
}

.ar-1x1 {
  padding-bottom: 100%;
}
.ar-16x9 {
  padding-bottom: 56.25%;
}
.ar-4x3 {
  padding-bottom: 75%;
}

.border-radius {
  border-radius: $spacer / 4;
}

.ar-object {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.image-record-con {
  width: 100%;
  height: 100%;
}

.con-area-90 {
  width: (9 / 12 * 100%);
}
.con-area-50 {
  width: (6 / 12 * 100%);
}

// // --------------------------------------------------
// // --------------------------------------------------
//미디어쿼리
@media (max-width: $desktop-md) {
  .sm-width-full {
    width: 100% !important;
  }

  .padding-rl-1 {
    padding-left: 0;
    padding-right: 0;
  }
}
// .side-top-btm {
//   margin-top: $spacer-4;
//   margin-bottom: $spacer-5;
// }

// .content-info-top {
//   margin-top: $spacer-2;
// }

// .date-box {
//   margin-bottom: 0;
// }

// .dateset {
//   float: right;
// }

// // --------------------------------------------------
// // --------------------------------------------------
// //Project(Side) page  : contnet

// //Image
// /* Border utilities */
// .border-radius {
//   border-radius: $spacer / 4;
// }

// .ar-1x1 {
//   // padding-bottom: 100%;
//   padding: 0;
// }

// // --------------------------------------------------
// // --------------------------------------------------
// // record(write) page  : List
// .content-listtit-top {
//   margin-top: $spacer-1;
//   margin-bottom: 0%;
// }

// .container-info {
//   max-width: $container-width-df;
// }

// .content-y {
//   margin-left: auto;
//   margin-right: auto;
// }

// // --------------------------------------------------
// // --------------------------------------------------
// // Contents Page
// .con-img-top-btm {
//   margin-top: $spacer-3;
//   margin-bottom: $spacer-3;
// }

// .prj-title {
//   margin-top: $spacer-3;
//   margin-bottom: $spacer-3;
// }

// .prj-side-title p {
//   margin-top: -0.4em;
// }

// .my-content-start {
//   margin-top: $spacer-5;
// }
// // --------------------------------------------------
// // --------------------------------------------------
// //tag
// .tag {
//   background-color: $grey-s;
//   border-radius: $spacer-1 / 4;
//   color: $grey-l;
// }

// .tagtypo {
//   font-weight: bold;
//   font-size: $font-sub-p4;
//   text-transform: uppercase;
// }

// .tagpd {
//   padding: $spacer-1;
// }

// .tag-top-btm {
//   margin-top: $spacer-2;
//   margin-bottom: $spacer-2;
// }

// // --------------------------------------------------
// // --------------------------------------------------
// //index

// // .container-index {
// //   max-width: 63.5em;
// //   margin: auto;
// //   border: 0;
// //   padding: 0;
// //   background-image: url(https://i.imgur.com/fu8vqGR.gif);
// //   min-height: 100%;
// //   background-position: center;
// //   background-size: cover;
// // }

// .index-tob-btm {
//   height: 85vh;
//   // margin-top: 140px;
//   // margin-bottom: 140px;
// }

// .test-minhee {
//   display: table-cell;
//   vertical-align: middle;
//   text-align: center;
// }

// .img-center {
//   position: relative;
//   width: 100%;
//   height: auto;
//   display: inline-block;
// }

// // --------------------------------------------------
// // --------------------------------------------------
// //1024px 부터 레이아웃 변화

// @media (max-width: $desktop-df) {
//   .paddingxy {
//     padding-left: $spacer-2;
//     padding-right: $spacer-2;
//   }

//   .index-x {
//     padding-left: $spacer-2;
//     padding-right: $spacer-2;
//   }

//   .content-padding {
//     padding-left: $spacer-1;
//     padding-right: $spacer-1;
//   }

//   // .index-tob-btm {
//   //   margin-top: 70px;
//   //   margin-bottom: 70px;
//   // }
// }

// // --------------------------------------------------
// // --------------------------------------------------
// //890px 부터 레이아웃 변화
// // @media (max-width: 890px) {
// //   .index-tob-btm {
// //     margin-top: 260px;
// //     margin-bottom: 260px;
// //   }
// // }
// // --------------------------------------------------
// // --------------------------------------------------
// //640px 부터 레이아웃 변화
// @media (max-width: $desktop-md) {
//   // .index-tob-btm {
//   //   margin-top: 80px;
//   //   margin-bottom: 80px;
//   // }

//   .sm-width-full {
//     width: 100% !important;
//   }

//   .prj-margin {
//     padding-left: 0px;
//     padding-right: 0px;
//   }

//   .tag-top-btm {
//     margin-top: $spacer-2;
//     margin-bottom: $spacer-2;

//     .prj-margin {
//       padding-left: $spacer-1;
//       padding-right: $spacer-1;
//     }
//   }

//   .content-info-top {
//     margin-top: $spacer-1;
//   }

//   .relative {
//     position: relative;
//     padding: $spacer-3 $spacer-2 $spacer-4 $spacer-2;
//   }

//   .index-x {
//     padding-left: $spacer-2;
//     padding-right: $spacer-2;
//   }

//   .content-padding {
//     padding-left: $spacer-2;
//     padding-right: $spacer-2;
//   }

//   .con-img-top-btm {
//     margin-top: $spacer-1;
//     margin-bottom: $spacer-1;
//   }

//   .content-listtit-top {
//     margin-top: 0%;
//     margin-bottom: 0%;
//   }

//   .prj-title {
//     margin-top: $spacer-1;
//     margin-bottom: $spacer-3;
//   }

//   .index-tob-btm {
//     height: 65vh;
//     // margin-top: 140px;
//     // margin-bottom: 140px;
//   }
// }

// --------------------------------------------------
// --------------------------------------------------
//414px 부터 레이아웃 변화

// @media (max-width: 414px) {
//   .index-tob-btm {
//     margin-top: px;
//     margin-bottom: 80px;
//   }
// }

// // --------------------------------------------------
// // --------------------------------------------------
// //375px 부터 레이아웃 변화

// @media (max-width: 375px) {
//   .index-tob-btm {
//     margin-top: 160px;
//     margin-bottom: 160px;
//   }
// }
