@import "variables";

//header

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.right-0 {
  right: 0;
}
.left-0 {
  left: 0;
}

.align-middle {
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
}

.right {
  float: right;
}

.left {
  float: left;
}

.paddingX {
  padding-left: $spacer-4;
  padding-right: $spacer-4;
}

.paddingY {
  padding-top: $spacer-4;
  padding-bottom: $spacer-4;
}

.marginX {
  margin-left: $spacer-6;
  margin-right: $spacer-6;
}

.marginX-sm {
  margin-right: $spacer-2;
}

.marginY {
  margin-top: auto;
  margin-bottom: auto;
}

.container {
  max-width: $container-width;

  @media (max-width: 120em) {
    max-width: $container-width;
  }
}

@media (min-width: $desktop-df) {
  .container {
    max-width: $container-width-md;
  }
  .typo-head {
    font-size: $font-sub-h3;
  }
  .marginX {
    margin-left: $spacer-4;
    margin-right: $spacer-4;
  }
}
