.load-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  transform-style: perserve-3d;
  animation: wrapper 8s cubic-bezier(1, 0.01, 0.5, 0.9) infinite;
  perspective: 300px;
}

@keyframes wrapper {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.squirc {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border: 5px solid #ec407a;
  transform: rotateX(0) translateZ(50px);
  animation: squircle 2s cubic-bezier(1, 0.05, 0.4, 0.9) infinite;
}

.squirc:nth-child(2) {
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  animation-delay: 100ms;
}
.squirc:nth-child(3) {
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  animation-delay: 200ms;
}
.squirc:nth-child(4) {
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  animation-delay: 300ms;
}

@keyframes squircle {
  0% {
    transform: rotateX(0) translateZ(90px);
    border: 5px solid #ec407a;
    border-radius: 10%;
  }
  50% {
    transform: rotateX(10deg) translateZ(0px) translateY(60px);
    border: 5px solid #03a9f4;
    border-radius: 50%;
  }
  100% {
    transform: rotateX(360deg) translateZ(90px);
    border: 5px solid #ec407a;
    border-radius: 10%;
  }
}
