@import "variables";

/* Typo set */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  // margin-top: 1em;
  // margin-bottom: 0.25em;
}

p {
  font-size: $prose-font-size;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

//headline
.typo-head {
  font-size: $font-title;
}

.menufont {
  font-family: $header-font-family;
  font-size: $font-sub-h1;
  line-height: 1.2em;
}

// post title

.posttitle {
  text-align: left;
  font-size: $font-sub-h3;
}

// post date
.postdate {
  text-align: left;
  font-size: $font-sub-p3;
  text-transform: uppercase;
}

// post content
.prose {
  font-weight: 400;
}

.prose p {
  font-size: 20px;
  margin-bottom: $spacer-4;
  width: 60%;
}

// 1280px
@media (max-width: $desktop-lg) {
  .menufont {
    font-family: $header-font-family;
    font-size: $font-sub-h2;
  }
}

//1024px
@media (max-width: $desktop-df) {
  .menufont {
    font-family: $header-font-family;
    font-size: $font-sub-h3;
  }
}

// 640x
@media (max-width: $desktop-md) {
  .menufont {
    font-family: $header-font-family;
    font-size: $font-sub-h3;
  }
  .btm-up {
    font-size: $font-sub-p4;
    letter-spacing: 0px;
  }

  .posttitle {
    text-align: left;
    font-size: $font-sub-p1;
  }

  p {
    font-size: $body-font-size;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
