@import "variables";

/* Typo set */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  // margin-top: 1em;
  // margin-bottom: 0.25em;
}

p {
  font-family: $body-font-family;
  margin-top: 0;
  margin-bottom: 0.5em;
}

//headline
.typo-head {
  font-size: $font-title;
}

.menufont {
  font-family: $header-font-family;
  font-size: $font-sub-h1;
}

// 1280px
@media (max-width: $desktop-lg) {
  .menufont {
    font-family: $header-font-family;
    font-size: $font-sub-h2;
  }
}

@media (max-width: $desktop-df) {
  .menufont {
    font-family: $header-font-family;
    font-size: $font-sub-h2;
  }
}

// 640x
@media (max-width: $desktop-md) {
  .menufont {
    font-family: $header-font-family;
    font-size: $font-sub-h2;
  }
}

// 384px
@media (max-width: $mobile) {
  .menufont {
    font-family: $header-font-family;
    font-size: $font-sub-h3;
  }

  .list-reset {
    font-family: $header-font-family;
    font-size: $body-font-size;s
  }
}
