// Spacing
$area: 8px !default;

// Spacing scale
$area-1: $area !default; // 8px
$area-2: ($area * 2) !default; // 16px
$area-3: ($area * 4) !default; // 32px
$area-4: ($area * 8) !default; // 64px
$area-5: ($area * 16) !default; // 128px

// Desktop View
$desktop-lg: 75em;
// 16px 기준: 1024px
$desktop-df: 64em;
// 16px 기준: 640px
$desktop-md: 40em;
// 16px 기준 : 384px
$mobile: 24em;
