<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="relative top-0 left-0 right-0">
      {% include header.html %}
    </div>
    <div>
      {% include index_ef.html %}
    </div>
    <!-- <div class="flex flex-column vh-set marginX">
      <div class="container  marginY">
        <div class="descript">
          <h1>{{ site.autor }}</h1>
          <h2 class="typo-head">UI/UX designers</h2>
          <h2 class="typo-head">who love interaction</h2>
        </div>
      </div>
    </div> -->

    <div class="footer-relative bottom-0 left-0 right-0">
      {% include footer.html %}
    </div>
  </body>
</html>
