---
layout: default
---

<div class="container margin-lr-auto margin-tb-auto">
  <!--title-->
  <div class="">
    <h2 class="">{{ page.title }}</h2>
    <p class="">
      <time
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
        >{{ page.date | date_to_long_string }}</time
      >
    </p>
  </div>
  <!--paragraph(s)-->
  {% for description in page.description %}
  <div class="">
    <p class="">{{ description.paragraph }}</p>
  </div>
  {% endfor %}
  <!--tags-->
  <div class="">
    <span class="">
      {% for tags in page.tags %} {% if forloop.last == true %} {{ tags.tag }}
      {% else %} {{ tags.tag }} — {% endif %} {% endfor %}
    </span>
  </div>

  <div class="">
    {{ content }}
  </div>
</div>
