---
layout: default
---

<div class="container-record margin-lr-auto margin-tb-auto clearfix">
  <!--Top Cover image-->
  {% if page.thum_image %}
  <div class="margin-t-2 margin-b-1 padding-rl-1">
    {% include project_list_thum.html %}
  </div>
  {% endif %}

  <!--project description-->
  <div class="clearfix padding-rl-1">
    <!--title-->
    <h1 class="con-area-90">{{ page.title }}</h1>

    <!--paragraph(s)-->
    {% for description in page.description %}
    <p class="con-area-90">{{ description.paragraph }}</p>
    {% endfor %}
    <!--tags-->
    <div class="">
      <span class="">
        {% for tags in page.tags %} {% if forloop.last == true %} {{ tags.tag }}
        {% else %} {{ tags.tag }} — {% endif %} {% endfor %}
      </span>
    </div>
  </div>
  <!--project images-->
  <div class="clearfix">
    {% for image in page.images %} {% if image.con-area-50 == true %}
    <div class="con-area-50 left">
      {% endif %}
      <div class="padding-rl-1">
        {% include project_image.html %} {% if image.caption %}
        <p class="">
          {{ image.caption }}
        </p>
        {% endif %}
      </div>
      {% if image.con-area-50 == true %}
    </div>
    {% endif %} {% endfor %}
  </div>

  <div class="margin-t-2 margin-b-1 padding-rl-1">
    {{ content }}
  </div>

  <!-- <div class="">
    <a href="{{ site.baseurl }}/wirte" class="">&larr; Go back List</a>
  </div> -->
</div>
