---
layout: default
---

<div class="container side-top-btm clearfix paddingxy">
  <!--thumnail image-->
  {% if page.thum_image %}
  <div class="aspect-ratio ar-4x3">
    {% include project_list_thum.html %}
  </div>
  {% endif %}

  <!--project description-->
  <div class="">
    <!--title-->
    <h1 class="">{{ page.title }}</h1>
    <!--paragraph(s)-->
    {% for description in page.description %}
    <p class="">{{ description.paragraph }}</p>
    {% endfor %}
    <!--tags-->
    <span class="">
      {% for tags in page.tags %} {% if forloop.last == true %} {{ tags.tag }}
      {% else %} {{ tags.tag }} — {% endif %} {% endfor %}
    </span>
  </div>
  <!--project images-->
  <div class="clearfix">
    {% for image in page.images %} {% if image.conarea-side == true %}
    <div class="conarea-side left">
      {% endif %}
      <div class="">
        {% include project_image.html %} {% if image.caption %}
        <p class="">
          {{ image.caption }}
        </p>
        {% endif %}
      </div>
      {% if image.conarea-side == true %}
    </div>
    {% endif %} {% endfor %}
  </div>

  {{ content }}

  <div class="px-2 mb-2 mb-lg-3 mt-3 mt-lg-4">
    <a href="{{ site.baseurl }}/wirte" class="">&larr; Go back List</a>
  </div>
</div>
